#[[source]]
#url = "https://pypi.org/simple"
#verify_ssl = true
#name = "pypi"
#
#[[source]]
#url = "http://pypi.douban.com/simple/"
#verify_ssl = false
#name = "pypidouban"
#
#[[source]]
#url = "https://pypi.douban.com/simple/"
#verify_ssl = true
#name = "pypidouban-123"

[[source]]
url = "https://pypi.tuna.tsinghua.edu.cn/simple/"
verify_ssl = true
name = "pypitunatsinghuaedu"

[packages]
django = "==4.0.9"
pymysql = "*"
pillow = "*"
django-pure-pagination = {version = "*", index = "pypitunatsinghuaedu"}

[dev-packages]

[requires]
python_version = "3.8"
